/* @import "./base.css"; */
@import "./global.css";
@import "./style-guide.css";

/* css_kit */
h1 {
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  font-family: "medium";
}
.font_regular {
  font-family: "regular";
}
.font_medium {
  font-family: "medium";
}
.font_semi {
  font-family: "semi-bold";
}
.font_bold {
  font-family: "bold";
}
.text_xs {
  font-size: 12px;
  line-height: 17px;
}
.text_md {
  font-size: 18px;
  line-height: 24px;
}
.text_small {
  font-size: 14px;
  line-height: 17px;
}
.text_medium {
  font-size: 18px;
  line-height: 22px;
}
.text_semi {
  font-size: 20px;
  line-height: 24px;
}
.text_semibold {
  font-size: 28px;
  line-height: 43px;
}
.text_large {
  font-size: 32px;
  line-height: 38px;
}
.text_xl {
  font-size: 48px;
  line-height: 52px;
}
.color_primary {
  /* #003781 */
  color: var(--azy-bluedark-color);
}
.color_title {
  /* #122b54 */
  color: var(--azy-bluedark2-color);
}
.color_secondary {
  /* #414141 */
  color: var(--azy-gray-color);
}
.color_white {
  color: #ffffff;
}
.color_pink {
  /* --azy-pink-color: #f62459; */
  color: var(--azy-pink-color);
}
.color_blue {
  /* --azy-blue-color: #007ab3; */
  color: var(--azy-blue-color);
}
.color_gray {
  /* --azy-graylight-color: #6a6a6a; */
  color: var(--azy-graylight-color);
}
.color_green {
  /* --azy-green-color: #5fcd8a; */
  color: var(--azy-green-color);
}
.color_green_secondary {
  /* --azy-bluegreen-color: #00908d; */
  color: var(--azy-bluegreen-color);
}
.color_orange {
  color: var(--azy-orange-color);
  /* --azy-orange-color: #f86200; */
}
.color_yellow {
  /* --azy-yellow-color: #fab600; */
  color: var(--azy-yellow-color);
}
.bg_green {
  /* --azy-green-color: #5fcd8a; */
  background-color: var(--azy-green-color);
}
.bg_green_secondary {
  /* --azy-bluegreen-color: #00908d; */
  background-color: var(--azy-bluegreen-color);
}
.bg_pink {
  /* --azy-pink-color: #f62459; */
  background-color: var(--azy-pink-color);
}
.bg_yellow {
  /* --azy-yellow-color: #fab600; */
  background-color: var(--azy-yellow-color);
}
.dashboard {
  background: #003781;
  padding: 10px 20px;
  min-height: calc(100vh - 54px);
  height: 100%;
  position: relative;
}
.position-rel {
  position: relative;
}
.footer {
  margin-top: 7px;
  font-size: 10px;
}
.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.nopaddingright {
  padding-right: 0 !important;
}
.nopaddingleft {
  padding-left: 0 !important;
}
.borderleft {
  border-left: 1px solid #e0e0e0;
}
.borderright {
  border-right: 1px solid #e0e0e0;
}
.box_item {
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 10px 5px 8px 15px;
}
.table_custom {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}
.table_custom thead tr,
.table_custom tbody tr {
  border-top: 1px solid #e0e0e0;
}
.table_custom thead tr th {
  background-color: #f4f9fc;
  text-align: center;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  border-right: 1px solid #e0e0e0;
}

.table_custom tbody tr td {
  text-align: center;
  font-size: 16px;
  height: 45px;
  padding: 0 20px;
  border-right: 1px solid #e0e0e0;
}
.table_custom thead tr th:last-child,
.table_custom tbody tr td:last-child {
  border-right: none;
}

@media (max-width: 991px) {
  .nopaddingright {
    padding-right: 12px !important;
  }
  .nopaddingleft {
    padding-left: 12px !important;
  }
  .text_medium {
    font-size: 16px;
    line-height: 20px;
  }

  .grid_3,
  .grid_4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  /* .nopaddingright {
    padding-right: 12px !important;
  }
  .nopaddingleft {
    padding-left: 12px !important;
  } */
}
@media (max-width: 767px) {
  .box_item {
    height: auto !important;
  }
  .grid_2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid_3,
  .grid_4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* css_kit */

/* sidebar */
.sidebar {
  direction: ltr;
  max-width: 260px;
  min-width: 260px;
  font-family: "bold";
}

.sidebar,
.sidebar-content {
  background: #222e3c;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out,
    margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.sidebar-link,
a.sidebar-link {
  background: #222e3c;
  border-left: 3px solid transparent;
  color: rgba(233, 236, 239, 0.5);
  cursor: pointer;
  display: block;
  font-weight: 400;
  padding: 0.625rem 1.625rem;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
  color: rgba(233, 236, 239, 0.5);
  margin-right: 0.75rem;
}

.sidebar-link:focus {
  outline: 0;
}

.sidebar-link:hover {
  background: #222e3c;
  border-left-color: transparent;
}

.sidebar-link:hover,
.sidebar-link:hover i,
.sidebar-link:hover svg {
  color: rgba(233, 236, 239, 0.75);
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active > .sidebar-link {
  background: linear-gradient(
    90deg,
    rgba(59, 125, 221, 0.1),
    rgba(59, 125, 221, 0.088) 50%,
    transparent
  );
  border-left-color: #3b7ddd;
  color: #e9ecef;
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active > .sidebar-link i,
.sidebar-item.active > .sidebar-link svg {
  color: #e9ecef;
}

.sidebar-brand {
  color: #f8f9fa;
  display: block;
  font-size: 1.15rem;
  font-weight: 600;
  padding: 1.15rem 1.5rem;
}

.sidebar-brand:hover {
  color: #f8f9fa;
  text-decoration: none;
}

.sidebar-brand:focus {
  outline: 0;
}

.sidebar-toggle {
  cursor: pointer;
  display: flex;
  height: 26px;
  width: 26px;
}

.sidebar.collapsed {
  margin-left: -260px;
}
.input-group-navbar .btn,
.input-group-navbar .form-control {
  background: #f3f6fa;
  border: 0;
  border-radius: 20px;
  box-shadow: none;
  height: calc(2.1875rem + 2px);
  padding: 0.4rem 1rem;
}

@media (min-width: 1px) and (max-width: 991.98px) {
  .sidebar {
    margin-left: -260px;
  }
  .sidebar.collapsed {
    margin-left: 0;
  }
}

.sidebar-toggle {
  margin-right: 1rem;
}

.sidebar-header {
  background: transparent;
  color: #ced4da;
  font-size: 0.95rem;
  font-weight: 700;
  padding: 1.5rem 1.5rem 0.375rem;
}

.sidebar-badge {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1;
}

.sidebar-cta-content {
  background: #2b3947;
  border-radius: 0.3rem;
  color: #e9ecef;
  margin: 1.75rem;
  padding: 1.5rem;
}
/* sidebar */

/* navbar */
.navbar .avatar {
  margin-bottom: -15px;
  margin-top: -15px;
}
.navbar-brand .feather,
.navbar-brand svg {
  color: #3b7ddd;
  height: 24px;
  margin-left: -0.15rem;
  margin-right: 0.375rem;
  margin-top: -0.375rem;
  width: 24px;
}

.nav-flag,
.nav-icon {
  color: #6c757d;
  display: block;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0.1rem 0.8rem;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

.nav-flag:after,
.nav-icon:after {
  display: none !important;
}

.nav-flag.active,
.nav-flag:hover,
.nav-icon.active,
.nav-icon:hover {
  color: #3b7ddd;
}

.nav-flag .feather,
.nav-flag svg,
.nav-icon .feather,
.nav-icon svg {
  height: 20px;
  width: 20px;
}
.nav-item .indicator {
  background: #3b7ddd;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
  color: #fff;
  display: block;
  font-size: 0.675rem;
  height: 18px;
  padding: 1px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: 0;
  transition: top 0.1s ease-out;
  width: 18px;
}

.nav-item:hover .indicator {
  top: -4px;
}

.nav-item a:focus {
  outline: 0;
}

@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@media (max-width: 575.98px) {
  .navbar {
    padding: 0.75rem;
  }
  .nav-icon {
    padding: 0.1rem 0.75rem;
  }
  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }
  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }
  .nav-item .nav-link:after {
    display: none;
  }
}

.nav-flag img {
  border-radius: 50%;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 20px;
}
/* navbar */

/* main */
/* .main {
  background: #f5f7fb;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out,
    margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
  width: 100%;
}
.wrapper {
  align-items: stretch;
  background: #222e3c;
  display: flex;
  width: 100%;
}
.content {
  direction: ltr;
  flex: 1;
  max-width: 100vw;
  padding: 1.5rem 1.5rem 0.75rem;
  width: 100vw;
}

@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

@media (min-width: 992px) {
  .content {
    padding: 3rem 3rem 1.5rem;
  }
} */
/* main */

/* chart */
.chart {
  margin: auto;
  min-height: 300px;
  position: relative;
  width: 100%;
}

.chart-xs {
  min-height: 200px;
}

.chart-sm {
  min-height: 252px;
}

.chart-lg {
  min-height: 350px;
}

.chart-xl {
  min-height: 500px;
}

.chart canvas {
  max-width: 100%;
}
/* chart */

/* footer */
footer.footer {
  background: #fff;
  direction: ltr;
  padding: 1rem 0.875rem;
}

footer.footer ul {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  footer.footer {
    width: 100vw;
  }
}
/* footer */
