:root {
  --azy-cream-color: #e0e0e0;
  --azy-pink-color: #f62459;
  --azy-orange-color: #f86200;
  --azy-yellow-color: #fab600;
  --azy-green-color: #5fcd8a;
  --azy-bluegreen-color: #00908d;
  --azy-bluedark-color: #003781;
  --azy-blue-color: #007ab3;
  --azy-red-color: #e00000;
  --azy-gray-color: #414141;
  --azy-graylight-color: #6a6a6a;
  --azy-brown-color: #b59d5e;
  --azy-bluedark2-color: #122b54;
}
